<div th:fragment="nav_btns_root">
    <div class="nav_btns_root">
        <div class="nav_btns">
            <a href="/main">
                <button type="button" class="btn btn-outline-dark nav_btn">Home</button>
            </a>
        </div>
        <div class="nav_btns">
            <a href="/messages">
                <button type="button" class="btn btn-outline-dark nav_btn">Messages</button>
            </a>
        </div>
        <div class="nav_btns">
            <a href="/profile">
                <button type="button" class="btn btn-outline-dark nav_btn">Profile</button>
            </a>
        </div>


        <div th:if="${user.isAdmin()}" class="nav_btns">
            <a href="/admin">
                <button type="button" class="btn btn-outline-dark nav_btn">Admin Panel</button>
            </a>
        </div>

        <div class="nav_btns">
            <a th:href="@{/logout}">
                <button type="button" class="btn btn-outline-dark nav_btn"
                    style="background-color: #1DA1F2; color: white; width: 65%; border-radius: 15px;">
                    Log Out
                </button>
            </a>
        </div>



    </div>
</div>